<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.modeule.code.CodeDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.modeule.code.CodeDto"/>
	
	<sql id = "selectCommon">
		FROM code as a
		LEFT JOIN
			codeGroup b
		ON
			a.ifcgSeq = b.ifcgSeq
		WHERE 1=1
		<if test="shUseNy != null and !shUseNy.equals('')">AND a.ifcdUseNy = #{shUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND a.ifcdDelNy = #{shDelNy}</if>
			
			<choose>
				<when test="shOptionDate != null and !shOptionDate.equals('')
					and shOptionDate == 1
					and shDateStart != null and !shDateStart.equals('')
	 				and shDateEnd != null and !shDateEnd.equals('')">
					AND a.ifcdRegDateTime BETWEEN #{shDateStartDB} AND #{shDateEndDB}
				</when>
				<when test="shOptionDate != null and !shOptionDate.equals('')
					and shOptionDate == 2
	 				and shDateStart != null and !shDateStart.equals('')
	 				and shDateEnd != null and !shDateEnd.equals('')">
					AND a.ifcdRegDateTime BETWEEN #{shDateStartDB} AND #{shDateEndDB}
				</when>
 			</choose>
				
        <choose>
            <when test="shOption == 1">AND a.ifcdSeq = #{shValue}</when>
            <when test="shOption == 2">AND b.ifcgName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.ifcdName LIKE CONCAT('%',#{shValue},'%')</when>
<!--             <when test="shOption == 3">AND a.ifcgNameEng LIKE CONCAT('%',#{shValue},'%')</when> -->
        </choose>
		ORDER BY a.ifcdSeq DESC
	</sql>

	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT aa.* FROM (
			SELECT
				a.ifcdSeq,
			    a.ifcdName,
			    a.ifcdDelNy,
			    a.ifcdUseNy,
			    a.ifcdRegDateTime,
			    a.ifcdModDateTime,
			    b.ifcgSeq,
			    b.ifcgName
		<include refid="selectCommon"></include>
		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			ifcgSeq,
			ifcgName
		FROM
			codeGroup
	</select>
	
	<select id="selectTwo" resultMap="resultMapObj">
		SELECT
			ifcdSeq,
			ifcdName,
			ifcdDelNy,
			ifcdUseNy,
			ifcgSeq
		FROM
			code
		WHERE 1=1
			AND ifcdSeq = #{ifcdSeq}
		ORDER BY ifcdSeq DESC
	</select>
	
	<insert id="insert">
		INSERT INTO code (
			ifcdSeq,
			ifcdName,
			ifcdDelNy,
			ifcdUseNy,
			ifcdRegDateTime,
			ifcgSeq
		) values (
			#{ifcdSeq},
			#{ifcdName},
			#{ifcdDelNy},
			#{ifcdUseNy},
			now(),
			#{ifcgSeq}
		)
	</insert>
	
	<update id="update">
		UPDATE code SET
			ifcgSeq = #{ifcgSeq},
			ifcdName = #{ifcdName},
			ifcdDelNy = #{ifcdDelNy},
			ifcdUseNy = #{ifcdUseNy},
			ifcdModDateTime = now()
		WHERE ifcdSeq = #{ifcdSeq}
	</update>
	
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			ifcdSeq
			, ifcdName
			, ifcgSeq
		FROM
			code
		WHERE 1=1
			AND ifcdDelNy = 0
		    AND ifcdUseNy = 1
   </select>
   
   <update id="uelete">
		UPDATE code SET
			ifcdDelNy = 1
		WHERE ifcdSeq = #{ifcdSeq}
	</update>
	
</mapper>