<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.modeule.codegroup.CodeGroupDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.modeule.codegroup.CodeGroupDto"/>
	
	<sql id = "selectCommon">
		FROM codeGroup as a
		WHERE 1=1
		<if test="shUseNy != null and !shUseNy.equals('')">AND a.ifcgUseNy = #{shUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND a.ifcgDelNy = #{shDelNy}</if>
		
		<choose>
			<when test="shOptionDate == 1">
				AND a.ifcgRegDateTime BETWEEN #{shDateStart} AND #{shDateEnd}
			</when>
			<when test="shOptionDate == 2">
				AND a.ifcgModDateTime BETWEEN #{shDateStart} AND #{shDateEnd}
			</when>
		</choose>
				
        <choose>
            <when test="shOption == 1">AND a.ifcgSeq = #{shValue}</when>
            <when test="shOption == 2">AND a.ifcgName LIKE CONCAT('%',#{shValue},'%')</when>
            
<!--             <when test="shOption == 3">AND a.ifcgNameEng LIKE CONCAT('%',#{shValue},'%')</when> -->
        </choose>
		ORDER BY a.ifcgSeq DESC
	</sql>

	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT aa.* FROM (
			SELECT
				a.ifcgSeq,
			    a.ifcgName,
			    (select count(aa.ifcdSeq) from code aa 
			    	where 1=1 
			    		and aa.ifcdDelNy = 0
			    		and aa.ifcgSeq = a.ifcgSeq
			    ) as xifcdSeqCount,
			    a.ifcgDelNy,
			    a.ifcgUseNy,
			    a.ifcgRegDateTime,
			    a.ifcgModDateTime
		<include refid="selectCommon"></include>
		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
		
	<select id="selectListWithoutPaging" resultMap="resultMapObj">
		SELECT aa.* FROM (
			SELECT
				a.ifcgSeq,
			    a.ifcgName,
			    (select count(aa.ifcdSeq) from code aa 
			    	where 1=1 
			    		and aa.ifcdDelNy = 0
			    		and aa.ifcgSeq = a.ifcgSeq
			    ) as xifcdSeqCount,
			    a.ifcgDelNy,
			    a.ifcgUseNy,
			    a.ifcgRegDateTime,
			    a.ifcgModDateTime
			FROM codeGroup as a
			WHERE 1=1
            AND ifcgDelNy = 0
			AND ifcgUseNy = 1
		) aa
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			ifcgSeq,
		    ifcgName,
		    ifcgDelNy,
		    ifcgUseNy,
		    ifcgRegDateTime,
		    ifcgModDateTime
		FROM
			codeGroup
		WHERE 1=1
			AND ifcgSeq = #{ifcgSeq}
		ORDER BY ifcgSeq DESC
	</select>
	
	<insert id="insert">
		INSERT INTO codeGroup (
			ifcgSeq,
			ifcgName,
			ifcgDelNy,
			ifcgUseNy,
			ifcgRegDateTime
		) values (
			#{ifcgSeq},
			#{ifcgName},
			#{ifcgDelNy},
			#{ifcgUseNy},
			now()
		)
	</insert>
	
	<update id="update">
		UPDATE codeGroup SET
			ifcgName = #{ifcgName},
			ifcgDelNy = #{ifcgDelNy},
			ifcgUseNy = #{ifcgUseNy},
			ifcgModDateTime = now()
		WHERE ifcgSeq = #{ifcgSeq}
	</update>
	
	<update id="uelete">
		UPDATE codeGroup SET
			ifcgDelNy = 1,
			ifcgModDateTime = now()
		WHERE ifcgSeq = #{ifcgSeq}
	</update>
	
    <select id="selectCodeNameByCodes" resultType="String">
        SELECT
            ifcdName
        FROM
            code
        WHERE 1=1
          AND ifcgSeq = #{ifcgSeq}  <!-- DB의 ifcgSeq 컬럼이 VARCHAR 타입이라면 CAST 불필요 -->
          AND ifcdSeq = #{ifcdSeq}
          AND ifcdUseNy = 1
          AND ifcdDelNy = 0
    </select>
	
</mapper>