<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.modeule.member.MemberDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.modeule.member.MemberDto"/>
	
	<sql id = "selectCommon">
		FROM userUi as a
		WHERE 1=1
<!-- 		<if test="shUseNy != null and !shUseNy.equals('')">AND a.ifcgUseNy = #{shUseNy}</if> -->
<!--         <if test="shDelNy != null and !shDelNy.equals('')">AND a.ifcgDelNy = #{shDelNy}</if> -->
<!-- 				
				<choose>
					<when test="shOptionDate == 1">AND a.regDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
 -->				
        <choose>
            <when test="shOption == 1">AND a.seq = #{shValue}</when>
<!--             <when test="shOption == 2">AND a.ifcgName LIKE CONCAT('%',#{shValue},'%')</when> -->
<!--              <when test="shOption == 3">AND a.ifcgNameEng LIKE CONCAT('%',#{shValue},'%')</when> -->
        </choose>
		ORDER BY a.seq DESC
	</sql>

	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT aa.* FROM (
			SELECT
				a.seq,
			    a.firstName,
<!-- 			    (select count(aa.ifcdSeq) from code aa  -->
<!-- 			    	where 1=1  -->
<!-- 			    		and aa.ifcdDelNy = 0 -->
<!-- 			    		and aa.ifcgSeq = a.ifcgSeq -->
<!-- 			    ) as xifcdSeqCount, -->
			    a.lastName,
			    a.gender,
			    a.btd,
			    a.email,
			    a.passWord,
			    a.price,
			    a.score,
			    a.delNy,
			    a.admSignin
		<include refid="selectCommon"></include>
		) aa
		limit #{pageNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			ifcgSeq,
		    ifcgName,
		    ifcgDelNy,
		    ifcgUseNy
		FROM
			codeGroup
		WHERE 1=1
			AND ifcgSeq = #{ifcgSeq}
		ORDER BY ifcgSeq DESC
	</select>
	
	<insert id="insert">
		INSERT INTO codeGroup (
			seq,
			firstName,
			lastName,
			gender,
			btd,
			email,
			passWord,
			price,
			score,
			delNy
		) values (
			#{seq},
			#{firstName},
			#{lastName},
			#{gender},
			#{btd},
			#{email},
			#{passWord},
			#{price},
			#{score},
			#{delNy}
		)
	</insert>
	
	<update id="update">
		UPDATE codeGroup SET
			ifcgName = #{ifcgName},
			ifcgDelNy = #{ifcgDelNy},
			ifcgUseNy = #{ifcgUseNy}
		WHERE ifcgSeq = #{ifcgSeq}
	</update>

</mapper>