<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.modeule.member.MemberDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.modeule.member.MemberDto"/>
	
	<sql id = "selectCommon">
		FROM userUi as a
		WHERE 1=1
<!-- 		<if test="shUseNy != null and !shUseNy.equals('')">AND a.useNy = #{shUseNy}</if> -->
        <if test="shDelNy != null and !shDelNy.equals('')">AND a.delNy = #{shDelNy}</if>
<!--         <if test="shAdmSignin != null and shAdmSignin.equals('')">AND a.admSignin = #{shAdmSignin}</if> -->
				
				<choose>
					<when test="shOptionDate == 1">AND a.regDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
        
        <choose>
            <when test="shAdmSignin != null">AND a.admSignin = #{shAdmSignin}</when>
        </choose>
				
        <choose>
            <when test="shOption == 1">AND a.seq = #{shValue}</when>
            <when test="shOption == 2">AND a.name LIKE CONCAT('%',#{shValue},'%')</when>
             <when test="shOption == 3">AND a.btd LIKE CONCAT('%',#{shValue},'%')</when>
             <when test="shOption == 4">AND a.id LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
		ORDER BY a.seq DESC
	</sql>

	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT aa.* FROM (
			SELECT
				a.seq,
<!-- 			    (select count(aa.ifcdSeq) from code aa  -->
<!-- 			    	where 1=1  -->
<!-- 			    		and aa.ifcdDelNy = 0 -->
<!-- 			    		and aa.ifcgSeq = a.ifcgSeq -->
<!-- 			    ) as xifcdSeqCount, -->
			    a.name,
			    a.gender,
			    a.btd,
			    a.iD,
			    a.passWord,
			    a.delNy,
			    a.admSignin,
			    a.mobileCarrier,
			    a.phoneNumber,
			    a.regDateTime,
			    a.modDateTime
		<include refid="selectCommon"></include>
		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
			name,
			gender,
			btd,
			iD,
			passWord,
			delNy,
			admSignin,
			mobileCarrier,
			phoneNumber
		FROM
			userUi
		WHERE 1=1
			AND seq = #{seq}
		ORDER BY seq DESC
	</select>
	
	<select id="selectOneLogin" resultMap="resultMapObj">
		SELECT
			a.seq,
			a.iD,
			a.passWord,
			a.name
		FROM
			userUi a
		WHERE 1=1
			AND a.iD = #{iD}
			<if test="passWord != null and !passWord.equals('')">AND a.passWord = #{passWord}</if>
	</select>
	
<!-- 	<select id="selectTwo" resultMap="resultMapObj"> -->
<!-- 		SELECT -->
<!-- 			seq, -->
<!-- 			firstName, -->
<!-- 			lastName, -->
<!-- 			gender, -->
<!-- 			btd, -->
<!-- 			email, -->
<!-- 			passWord, -->
<!-- 			price, -->
<!-- 			score, -->
<!-- 			delNy, -->
<!-- 			admSignin, -->
<!-- 			mobileCarrier -->
<!-- 		FROM -->
<!-- 			userUi -->
<!-- 		WHERE 1=1 -->
<!-- 			AND seq = #{seq} -->
<!-- 		ORDER BY seq DESC -->
<!-- 	</select> -->
	
	<insert id="insert">
		INSERT INTO userUi (
			seq,
			name,
			gender,
			btd,
			iD,
			passWord,
			delNy,
			mobileCarrier,
			phoneNumber,
			admSignin,
			regDateTime
		) values (
			#{seq},
			#{name},
			#{gender},
			#{btd},
			#{iD},
			#{passWord},
			#{delNy},
			#{mobileCarrier},
			#{phoneNumber},
			#{admSignin},
			now()
		)
	</insert>
	
	<update id="update">
		UPDATE userUi SET
			name = #{name},
			gender = #{gender},
			btd = #{btd},
			iD = #{iD},
			passWord = #{passWord},
			delNy = #{delNy},
			mobileCarrier = #{mobileCarrier},
			phoneNumber = #{phoneNumber},
			modDateTime = now()
		WHERE seq = #{seq}
	</update>
	
	  <update id="uelete">
		UPDATE userUi SET
			delNy = 1,
			modDateTime = now()
		WHERE seq = #{seq}
	</update>
	
	<select id="checkId" resultType="int">
		SELECT COUNT(*) FROM userUi WHERE iD = #{iD}
	</select>

</mapper>