<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.modeule.product.ProductDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.modeule.product.ProductDto"/>
	
	<sql id = "selectCommon">
		FROM mealKit as a
		WHERE 1=1
<!-- 		AND a.mealDelNy = 0 -->
		<if test="shUseNy != null and !shUseNy.equals('')">AND a.mealUseNy = #{shUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND a.mealDelNy = #{shDelNy}</if>
 				
				<choose>
					<when test="shOptionDate == 1">AND a.mealRegDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.mealModDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
				
        <choose>
            <when test="shOption == 1">AND a.seq = #{shValue}</when>
            <when test="shOption == 2">AND a.mealKitName LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
        
        <if test="shOption1 != null and shOption1 != ''">
	        AND a.brandName = #{shOption1}
	    </if>
        
		ORDER BY a.seq DESC
	</sql>

	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT aa.* FROM (
			SELECT
				a.seq,
				a.brandName,
				a.mealKitName,
				a.stock,
				a.price,
				a.score,
				a.ingredient,
				a.mealDelNy,
				a.mealUseNy,
				a.mealRegDateTime,
				a.mealModDateTime
		<include refid="selectCommon"></include>
		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
			brandName,
			mealKitName,
			stock,
			price,
			score,
			ingredient,
			mealDelNy,
			mealUseNy
		FROM
			mealKit
		WHERE 1=1
			AND seq = #{seq}
		ORDER BY seq DESC
	</select>
	
	<insert id="insert">
		INSERT INTO mealKit (
			brandName,
			mealKitName,
			stock,
			price,
			score,
			ingredient,
			mealDelNy,
			mealUseNy,
			mealRegDateTime
		) values (
			#{brandName},
			#{mealKitName},
			#{stock},
			#{price},
			#{score},
			#{ingredient},
			#{mealDelNy},
			#{mealUseNy},
			now()
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE mealKit SET
			brandName = #{brandName},
			mealKitName = #{mealKitName},
			stock = #{stock},
			price = #{price},
			score = #{score},
			ingredient = #{ingredient},
			mealDelNy = #{mealDelNy},
			mealUseNy = #{mealUseNy},
			mealModDateTime = now()
		WHERE seq = #{seq}
	</update>
	
	<update id="uelete">
		UPDATE mealKit SET
			mealDelNy = 1,
			mealModDateTime = now()
		WHERE seq = #{seq}
	</update>
	
	<select id="selectProductList" resultMap="resultMapObj">
	    SELECT aa.* FROM (
	        SELECT
	            a.seq,
	            a.brandName,
	            a.mealKitName,
	            a.stock,
	            a.price,
	            a.score,
	            a.ingredient,
	            a.mealDelNy,
	            a.mealUseNy,
	            a.mealRegDateTime,
	            a.mealModDateTime,
	            (
	                SELECT b.path
	                FROM fileUploaded b
	                WHERE b.pseq = a.seq
	                ORDER BY b.sort DESC
	                LIMIT 1
	            ) path
	        <include refid="selectCommon"></include>
	    ) aa
	    limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
    <update id="updateStockDecrease">
        UPDATE mealKit
        SET
            stock = stock - #{quantityToDecrease}
        WHERE
            seq = #{productSeq}
        AND stock >= #{quantityToDecrease}
    </update>

</mapper>