<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{usr/include/head :: head}"></head>
	
	<body>
	<script src="/user/template/user_ui/assets/js/vendors/validation.js"></script>
	
	<main>
		<!-- section -->
		<div class="mt-4">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- col -->
					<div class="col-12">
						<!-- breadcrumb -->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a href="/usr/index/Index">홈</a></li>
								<li class="breadcrumb-item active" aria-current="page">레시피</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<!-- section -->
		<section class="mt-8">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-12 mb-4">
						<!-- heading -->
						<h1 class="fw-bold">레시피</h1>
					</div>
				</div>
			</div>
		</section>
		<!-- section -->
		<section class="mb-lg-14 mb-8">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- col -->
					<div class="col-12 col-md-6 col-lg-4 mb-10">
						<div class="mb-4">
							<a href="blog-post.html">
								<!-- img -->
								<div class="img-zoom">
									<img src="/user/template/user_ui/assets/images/blog/blog-img-3.jpg" alt="" class="img-fluid w-100" />
								</div>
							</a>
						</div>
						<div class="mb-3"><a href="#!">레시피</a></div>
						<!-- text -->
						<div>
							<h2 class="h5"><a href="blog-post.html" class="text-inherit">푸딩처럼 부드러운 급식계란찜</a></h2>
							<p></p>
							<div class="d-flex justify-content-between text-muted mt-4">
								<span><small>2023년 4월 23일</small></span>
								<span>
									<small>
										읽는 시간:
										<span class="text-dark fw-bold">5분</span>
									</small>
								</span>
							</div>
						</div>
					</div>
					<!-- col -->
					<div class="col-12 col-md-6 col-lg-4 mb-10">
						<div class="mb-4">
							<a href="blog-post.html">
								<!-- img -->
								<div class="img-zoom">
									<img src="/user/template/user_ui/assets/images/blog/blog-img-1.jpg" alt="" class="img-fluid w-100" />
								</div>
							</a>
						</div>
						<div class="mb-3"><a href="#!">레시피</a></div>
						<!-- text -->
						<div>
							<h2 class="h5"><a href="blog-post.html" class="text-inherit">휘핑 페타를 곁들인 하리사 병아리콩</a>
							</h2>
							<p></p>
							<div class="d-flex justify-content-between text-muted mt-4">
								<span><small>2023년 4월 22일</small></span>
								<span>
									<small>
										읽는 시간:
										<span class="text-dark fw-bold">12분</span>
									</small>
								</span>
							</div>
						</div>
					</div>
					<!-- col -->
					<div class="col-12 col-md-6 col-lg-4 mb-10">
						<div class="mb-4">
							<a href="blog-post.html">
								<div class="img-zoom">
									<!-- img -->
									<img src="/user/template/user_ui/assets/images/blog/blog-img-2.jpg" alt="" class="img-fluid w-100" />
								</div>
							</a>
						</div>
						<div class="mb-3"><a href="#!">레시피</a></div>
						<div>
							<!-- text -->
							<h2 class="h5"><a href="blog-post.html" class="text-inherit">아몬드 버터 초콜릿 칩 호박 바</a></h2>
							<p></p>
							<div class="d-flex justify-content-between text-muted mt-4">
								<span><small>2023년 4월 20일</small></span>
								<span>
									<small>
										읽는 시간:
										<span class="text-dark fw-bold">8분</span>
									</small>
								</span>
							</div>
						</div>
					</div>
					<!-- col -->
					<div class="col-12 col-md-6 col-lg-4 mb-10">
						<div class="mb-4">
							<a href="blog-post.html">
								<!-- img -->
								<div class="img-zoom">
									<img src="/user/template/user_ui/assets/images/blog/blog-img-4.jpg" alt="" class="img-fluid w-100" />
								</div>
							</a>
						</div>
						<div class="mb-3"><a href="#!">레시피</a></div>
						<div>
							<!-- text -->
							<h2 class="h5"><a href="blog-post.html" class="text-inherit">크리미 콘을 곁들인 레드칠리 치킨 타코</a></h2>
							<p></p>
							<div class="d-flex justify-content-between text-muted mt-4">
								<span><small>2023년 4월 16일</small></span>
								<span>
									<small>
										읽는 시간:
										<span class="text-dark fw-bold">9분</span>
									</small>
								</span>
							</div>
						</div>
					</div>
					<!-- col -->
					<div class="col-12 col-md-6 col-lg-4 mb-10">
						<div class="mb-4">
							<a href="blog-post.html">
								<!-- img -->
								<div class="img-zoom">
									<img src="/user/template/user_ui/assets/images/blog/blog-img-5.jpg" alt="" class="img-fluid w-100" />
								</div>
							</a>
						</div>
						<div class="mb-3"><a href="#!">레시피</a></div>
						<!-- text -->
						<div>
							<h2 class="h5"><a href="blog-post.html" class="text-inherit">브로콜리 치즈 스프</a>
							</h2>
							<p></p>
							<div class="d-flex justify-content-between text-muted mt-4">
								<span><small>2023년 4월 12일</small></span>
								<span>
									<small>
										읽는 시간:
										<span class="text-dark fw-bold">12분</span>
									</small>
								</span>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4 mb-10">
						<div class="mb-4">
							<a href="blog-post.html">
								<!-- img -->
								<div class="img-zoom">
									<img src="/user/template/user_ui/assets/images/blog/blog-img-6.jpg" alt="" class="img-fluid w-100" />
								</div>
							</a>
						</div>
						<div class="mb-3"><a href="#!">레시피</a></div>
						<div>
							<!-- text -->
							<h2 class="h5"><a href="blog-post.html" class="text-inherit">끓이지 않는 구운 펜네와 미트볼</a></h2>
							<p></p>

							<div class="d-flex justify-content-between text-muted mt-4">
								<span><small>2023년 4월 14일</small></span>
								<span>
									<small>
										읽는 시간:
										<span class="text-dark fw-bold">6분</span>
									</small>
								</span>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4 mb-10">
						<div class="mb-4">
							<a href="blog-post.html">
								<!-- img -->
								<div class="img-zoom">
									<img src="/user/template/user_ui/assets/images/blog/blog-img-7.jpg" alt="" class="img-fluid w-100" />
								</div>
							</a>
						</div>
						<div class="mb-3"><a href="#!">레시피</a></div>
						<div>
							<!-- text -->
							<h2 class="h5"><a href="blog-post.html" class="text-inherit">크리미 콘을 곁들인 레드칠리 치킨 타코</a></h2>
							<p></p>
							<div class="d-flex justify-content-between text-muted mt-4">
								<span><small>2023년 4월 16일</small></span>
								<span>
									<small>
										읽는 시간:
										<span class="text-dark fw-bold">9분</span>
									</small>
								</span>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4 mb-10">
						<div class="mb-4">
							<a href="blog-post.html">
								<!-- img -->
								<div class="img-zoom">
									<img src="/user/template/user_ui/assets/images/blog/blog-img-8.jpg" alt="" class="img-fluid w-100" />
								</div>
							</a>
						</div>
						<div class="mb-3"><a href="#!">레시피</a></div>
						<div>
							<!-- text -->
							<h2 class="h5"><a href="blog-post.html" class="text-inherit">기본 브로콜리 치즈 스프</a>
							</h2>
							<p></p>
							<div class="d-flex justify-content-between text-muted mt-4">
								<span><small>2023년 4월 12일</small></span>
								<span>
									<small>
										읽는 시간:
										<span class="text-dark fw-bold">12분</span>
									</small>
								</span>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4 mb-10">
						<div class="mb-4">
							<a href="blog-post.html">
								<!-- img -->
								<div class="img-zoom">
									<img src="/user/template/user_ui/assets/images/blog/blog-img-9.jpg" alt="" class="img-fluid w-100" />
								</div>
							</a>
						</div>
						<div class="mb-3"><a href="#!">레시피</a></div>
						<div>
							<!-- text -->
							<h2 class="h5"><a href="blog-post.html" class="text-inherit">끓이지 않는 구운 펜네와 미트볼</a></h2>
							<p></p>
							<div class="d-flex justify-content-between text-muted mt-4">
								<span><small>2023년 4월 14일</small></span>
								<span>
									<small>
										읽는 시간:
										<span class="text-dark fw-bold">6분</span>
									</small>
								</span>
							</div>
						</div>
					</div>
					<div class="col-12">
						<!-- nav -->
						<nav>
							<ul class="pagination">
								<li class="page-item disabled">
									<a class="page-link mx-1" href="#" aria-label="Previous">
										<i class="feather-icon icon-chevron-left"></i>
									</a>
								</li>
								<li class="page-item"><a class="page-link mx-1 active" href="#">1</a></li>
								<li class="page-item"><a class="page-link mx-1" href="#">2</a></li>

								<li class="page-item"><a class="page-link mx-1" href="#">...</a></li>
								<li class="page-item"><a class="page-link mx-1" href="#">12</a></li>
								<li class="page-item">
									<a class="page-link mx-1" href="#" aria-label="Next">
										<i class="feather-icon icon-chevron-right"></i>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</section>
	</main>

<div th:replace="~{usr/include/footer :: footer}"></div>

</body>

</html>