<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/xdm/template/admin_ui/images/favicon.png">
    <link href="/assets/xdm/template/admin_ui/css/style.css" rel="stylesheet">
<style>
/* 					빨간색 테두리 */
					.redOutline {
					    border: 2px solid red; 
					}
					
/* 					빨간색 에러 텍스트 */
					.errorText {
					    color: red;
					    font-size: 12px; /* 텍스트 크기 */
					}
</style>
</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">Sign in your account</h4>
                                    <form id="formLogin">
                                        <div class="form-group">
                                            <label><strong>이메일</strong></label>
                                            <input type="email" id="email" class="form-control" value="qwer@naver.com">
                                            <div id="emailError" class="errorText"></div>
                                        </div>
                                        <div class="form-group">
                                            <label><strong>비밀번호</strong></label>
                                            <input type="password" id="passWord" class="form-control" value="1">
                                            <div id="passWordError" class="errorText"></div>
                                        </div>
                                        <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                            <div class="form-group">
                                                <div class="form-check ml-2">
                                                    <input class="form-check-input" type="checkbox" id="basic_checkbox_1">
                                                    <label class="form-check-label" for="basic_checkbox_1">아이디 기억하기</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <a href="page-forgot-password.html">비밀번호를 잊어버리셨나요?</a>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                        	<button type="button" class="btn btn-primary w-100 mb-3" id="buttonSignIn">로그인</button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p>계정을 가지고 있나요? <a class="text-primary" href="./page-register.html">회원가입</a></p>
                                    </div>
                                    
                                    <!-- 모달 -->
                                    
                                    <div class="modal fade" id="modalAlert" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalAlertTitle">확 인</h5>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body" id="modalAlertBody"></div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/assets/xdm/template/admin_ui/vendor/global/global.min.js"></script>
    <script src="/assets/xdm/template/admin_ui/js/quixnav-init.js"></script>
    <script src="/assets/xdm/template/admin_ui/js/custom.min.js"></script>
	<script src="/assets/xdm/jquery/datetimepicker/jquery-3.7.1.min.js"></script>
    <!--**********************************
        Scripts
    ***********************************-->
    
    <script type="text/javascript">
    
	let goUrlXdmList = "/xdm/member/MemberXdmList";
	
	let form = document.getElementById("formLogin");
    let email = document.getElementById("email").value.trim();
    let passWord = document.getElementById("passWord").value.trim();
    
    
    document.getElementById("buttonSignIn").onclick = function(event) {
	    event.preventDefault(); // 기본 폼 제출 방지
	    loginLogic();
    }
    
	function validation() {
	    let check = true;

	    const email = document.getElementById("email");
	    const emailError = document.getElementById("emailError");

	    if (email.value == "") {
	    	email.classList.add("redOutline");
	    	emailError.textContent = "이메일을 입력하세요.";
	        
	    	check = false;
	    } else {
	    	email.classList.remove("redOutline");
	    	emailError.textContent = "";
	    }

		const passWord = document.getElementById("passWord");
	    const passWordError = document.getElementById("passWordError");

	    if (passWord.value == "") {
	    	passWord.classList.add("redOutline");
	    	passWordError.textContent = "비밀번호를 입력하세요.";
	        
	    	check = false;
	    } else {
	    	passWord.classList.remove("redOutline");
	    	passWordError.textContent = "";
	    }

	    return check;
	}
    

    
	function loginLogic() {
		
		if(validation() == false) return false;
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			/* ,dataType:"json" */
			,url: "/xdm/signin/signinXdmProc"
			/* ,data : $("#formLogin").serialize() */
			,data : { "email" : $("#email").val(), "passWord" : $("#passWord").val()}
			,success: function(response) {
				console.log("서버 응답:", response);
				if(response.rt != "success") {
			 		document.getElementById("modalAlertTitle").innerText = "확 인";
			 		document.getElementById("modalAlertBody").innerText = "일치하는 회원이 존재 하지 않습니다!";
			 		$("#modalAlert").modal("show");
				} else {
					location.href = "/xdm/member/MemberXdmList";
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				console.error("AJAX 요청 실패:", textStatus, errorThrown);
				alert("어렵다..");
			}
		});
	}
    	
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Required vendors -->
</body>

</html>