<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">

<script src="/user/jquery/jquery-3.7.1.min.js"></script>

		<!-- Javascript-->
		<script src="/user/template/user_ui/assets/libs/flatpickr/dist/flatpickr.min.js"></script>
		<script src="/user/template/user_ui/assets/libs/rater-js/index.js"></script>
		<script src="/user/template/user_ui/assets/libs/dropzone/dist/min/dropzone.min.js"></script>
		<!-- Libs JS -->
		<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
		<script src="/user/template/user_ui/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="/user/template/user_ui/assets/libs/simplebar/dist/simplebar.min.js"></script>

		<!-- Theme JS -->
		<script src="/user/template/user_ui/assets/js/theme.min.js"></script>

		<script src="/user/template/user_ui/assets/js/vendors/jquery.min.js"></script>
		<script src="/user/template/user_ui/assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
		<script src="/user/template/user_ui/assets/js/vendors/tns-slider.js"></script>
		<script src="/user/template/user_ui/assets/js/vendors/zoom.js"></script>
		<script src="/user/template/user_ui/assets/js/vendors/dropzone.js"></script>
		<script src="/user/template/user_ui/assets/libs/imask/dist/imask.min.js"></script>
		<script src="/user/template/user_ui/assets/js/vendors/inputmask.js"></script>

<script type="text/javascript">
	$("#btnSignout").on("click", function(){
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/usr/signin/signoutUsrProc"
			,data: {}
			,success: function(response) {
				if(response.rt == "success") {
					location.href = "/usr/signin/signinUsr";
				} else {
					// by pass
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	});
</script>
</th:block>
</body>
