<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>
<div th:replace="~{xdm/codegroup/codeGroupXdmVo :: vo}"></div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        
        <!-- main -->
        
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Code Group</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">시스템관리</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">코드관리</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <style>
                    /* 글자색을 검정으로 변경 */
                    .table-responsive-sm th,
                    .table-responsive-sm td {
                        color: black !important;
                    }

                    /* 테이블의 모든 선 제거 */
                    .table,
                    .table th,
                    .table td,
                    .table thead th,
                    .table tbody td {
                        border: none !important;
                    }

                    .red {
                        color: red;
                    }

                    .table {
                        width: 100%;
                        table-layout: fixed;
                        /* 칸 너비 고정 */
                    }
                </style>
                <form action="/xdm/codegroup/CodeGroupXdmInst" method="post" id="form">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><b>기본정보</b></h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <td><b>코드그룹 코드</b><b class="red"> *</b>
                                                    <br>
                                                    <input 
	                                                    type="text" 
	                                                    id="ifcgSeq" 
	                                                    name="ifcgSeq" 
	                                                    th:value="${item?.ifcgSeq}" 
	                                                    maxlength="20" 
	                                                    placeholder="자동생성" 
	                                                    disabled class="form-control"/>
                                                </td>
                                                <td><label for="ifcgName"><b><!-- 코드 -->코드그룹 이름</b><b class="red"> *</b></label>
                                                    <br>
                                                    <input class="form-control" id="ifcgName" name="ifcgName" type="text"
                                                        placeholder="한글, 영대소문자, 숫자">
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <label for="ifcgDelNy"><b class="rgb">삭제여부</b><b class="red"> *</b></label>
                                                    <br>
                                                    <select id="ifcgDelNy" name="ifcgDelNy" class="form-select">
                                                    	<option value="">선택하세요</option>
                                                        <option value="1">Y</option>
                                                        <option value="0">N</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <label for="ifcgUseNy"><b class="rgb">사용여부</b><b class="red"> *</b></label>
                                                    <br>
                                                    <select id="ifcgUseNy" name="ifcgUseNy" class="form-select">
                                                    	<option value="">선택하세요</option>
                                                        <option value="1">Y</option>
                                                        <option value="0">N</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button type="button" onclick="location.href='/xdm/codegroup/CodeGroupXdmList'" class="btn btn-light"><i class="fa-solid fa-list"></i></button>
                                    <button type="button" id="dtnSave" class="btn btn-primary" style="float: right;"><i
                                            class="fa-solid fa-plus"></i></button>
                                            
									<!-- 모달 -->
									
									<div class="modal" id="alertModal" tabindex="-1" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">등록 오류</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<p id="modalMessage"></p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary">Save changes</button>
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
												</div>
											</div>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
				<script type="text/javascript">
				
				let seq = document.querySelector("input[name=ifcgSeq]");							/* ### */
				
				const alertModal = new bootstrap.Modal(document.getElementById("alertModal"));
				const modalElement = document.getElementById("alertModal");
				const modalMessage = document.getElementById("modalMessage");
				
				function showModal(message) {
					modalMessage.textContent = message;
					alertModal.show();
				}
				
				document.getElementById("dtnSave").onclick = function() {
					
					if(document.getElementById("ifcgName").value.trim() == null || document.getElementById("ifcgName").value.trim() == "") {
						showModal("코드그룹 이름을 입력하세요");
						document.getElementById("ifcgName").focus();
						
						return false;
					}
					
					if(document.getElementById("ifcgDelNy").value.trim() == null || document.getElementById("ifcgDelNy").value.trim() == "") {
						showModal("사용여부을 선택하세요");
						document.getElementById("ifcgDelNy").focus();
						
						return false;
					}
					
					document.getElementById("form").submit();
				}
				
				modalElement.addEventListener("hidden.bs.modal", function () {
// 					alert("끼익");
					
				    document.getElementById("dtnSave").disabled = false;  
				});
				
				function validationInst() {
				    if(validationUpdt() == false) return false;
				}
				
				function validationUpdt() {
			 		if(!checkOnlyEnglishNumber('ifcgSeqAnother', 2, 1, "코드그룹 코드 (Another)는 영대소문자, 숫자만 입력 가능합니다.")) return false;

				}
				
				document.getElementById("btnSubmit").onclick = function () {
					if(seq.value == "0" || seq.value == "") {
						if(validationInst() == false) return false;
						$("#modalLoading").modal("show");
						form.action = goUrlXdmInst;
						form.submit();
					} else {
						if(validationUpdt() == false) return false;
						$("#modalLoading").modal("show");
						form.action = goUrlXdmUpdt;
						form.submit();
					}
				}
				
				</script>
                </form>
            </div>
            
        </div>

<div th:replace="~{xdm/include/footer :: footer}"></div>
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/xdm/template/admin_ui/vendor/global/global.min.js"></script>
    <script src="/xdm/template/admin_ui/js/quixnav-init.js"></script>
    <script src="/xdm/template/admin_ui/js/custom.min.js"></script>



    <script src="/xdm/template/admin_ui/vendor/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="/xdm/template/admin_ui/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Form validate init -->
    <script src="/xdm/template/admin_ui/js/plugins-init/jquery.validate-init.js"></script>



    <!-- Form step init -->
    <script src="/xdm/template/admin_ui/js/plugins-init/jquery-steps-init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>