<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        
        <!-- main -->
        
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Code Group</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">시스템관리</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">코드관리</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <style>
                    /* 글자색을 검정으로 변경 */
                    .table-responsive-sm th,
                    .table-responsive-sm td {
                        color: black !important;
                    }

                    /* 테이블의 모든 선 제거 */
                    .table,
                    .table th,
                    .table td,
                    .table thead th,
                    .table tbody td {
                        border: none !important;
                    }

                    .red {
                        color: red;
                    }

                    .table {
                        width: 100%;
                        table-layout: fixed;
                        /* 칸 너비 고정 */
                    }
                </style>
                <form action="/xdm/codegroup/CodeGroupXdmInst" method="post" id="form">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><b>기본정보</b></h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <td><b>코드그룹 코드</b><b class="red"> *</b>
                                                    <br>
                                                    <input class="form-control" type="text" name="ifcgSeq" id="ifcgSeq" placeholder="자동생성"
                                                        aria-label="Disabled input example" disabled>
                                                </td>
                                                <td><label for="code01"><b>코드그룹 코드 (ANOTHER)</b></label>
                                                    <br>
                                                    <input class="form-control" id="code01" type="text"
                                                        placeholder="영문소문자, 숫자">
                                                </td>
                                                <td><label for="ifcgName"><b><!-- 코드 -->이름</b><b class="red"> *</b></label>
                                                    <br>
                                                    <input class="form-control" id="ifcgName" name="ifcgName" type="text"
                                                        placeholder="한글, 영대소문자, 숫자">
                                                </td>
                                                <td><label for="ifcgNickName"><b>닉네임<!-- 코드 이름 (영문) --></b></label>
                                                    <br>
                                                    <input class="form-control" id="ifcgNickName" name="ifcgNickName" type="text"
                                                        placeholder="영대소문자, 숫자">
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <b class="rgb">인증여부</b><b class="red"> *</b>
                                                    <br>
                                                    <select id="ifcgVerify" name="ifcgVerify" class="form-select">
                                                        <option>1</option>
                                                        <option>2</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <label for="ifcgGender"><b class="rgb">성별</b><b class="red"> *</b></label>
                                                    <br>
                                                    <input class="form-control" type="text" id="ifcgGender" name="ifcgGender">
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td colspan="2">
                                                    <label for="description"><b class="rgb">설명</b></label>
                                                    <br>
                                                    <textarea class="form-control" id="description"
                                                        style="height: 100px"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="daguk1"><b>다국어1</b></label>
                                                    <br>
                                                    <input class="form-control" id="daguk1" type="text">
                                                </td>
                                                <td>
                                                    <label for="daguk2"><b>다국어2</b></label>
                                                    <br>
                                                    <input class="form-control" id="daguk2" type="text">
                                                </td>
                                                <td>
                                                    <label for="daguk3"><b>다국어3</b></label>
                                                    <br>
                                                    <input class="form-control" id="daguk3" type="text">
                                                </td>
                                                <td>
                                                    <label for="daguk4"><b>다국어4</b></label>
                                                    <br>
                                                    <input class="form-control" id="daguk4" type="text">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="daguk5"><b>다국어5</b></label>
                                                    <br>
                                                    <input class="form-control" id="daguk5" type="text">
                                                </td>
                                                <td>
                                                    <label for="daguk6"><b>다국어6</b></label>
                                                    <br>
                                                    <input class="form-control" id="daguk6" type="text">
                                                </td>
                                                <td>
                                                    <label for="daguk7"><b>다국어7</b></label>
                                                    <br>
                                                    <input class="form-control" id="daguk7" type="text">
                                                </td>
                                                <td>
                                                    <label for="daguk8"><b>다국어8</b></label>
                                                    <br>
                                                    <input class="form-control" id="daguk8" type="text">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="yebi1"><b>예비1 (VARCHAR TYPE)</b></label>
                                                    <br>
                                                    <input class="form-control" id="yebi1" type="text">
                                                </td>
                                                <td>
                                                    <label for="yebi2"><b>예비2 (VARCHAR TYPE)</b></label>
                                                    <br>
                                                    <input class="form-control" id="yebi2" type="text">
                                                </td>
                                                <td>
                                                    <label for="yebi3"><b>예비3 (VARCHAR TYPE)</b></label>
                                                    <br>
                                                    <input class="form-control" id="yebi3" type="text">
                                                </td>
                                                <td>
                                                    <label for="yebi4"><b>예비4 (VARCHAR TYPE)</b></label>
                                                    <br>
                                                    <input class="form-control" id="yebi4" type="text">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="yebi5"><b>예비1 (INT TYPE)</b></label>
                                                    <br>
                                                    <input class="form-control" id="yebi5" type="text">
                                                </td>
                                                <td>
                                                    <label for="yebi6"><b>예비2 (INT TYPE)</b></label>
                                                    <br>
                                                    <input class="form-control" id="yebi6" type="text">
                                                </td>
                                                <td>
                                                    <label for="yebi7"><b>예비3 (INT TYPE)</b></label>
                                                    <br>
                                                    <input class="form-control" id="yebi7" type="text">
                                                </td>
                                                <td>
                                                    <label for="yebi8"><b>예비4 (INT TYPE)</b></label>
                                                    <br>
                                                    <input class="form-control" id="yebi8" type="text">
                                                </td>
                                            </tr> -->
                                            <!-- <tr>
                                                <td>
                                                    <button type="button" class="btn btn-outline-dark"
                                                        style="text-align: right;">
                                                        <i class="fa-solid fa-list-ul"></i>
                                                    </button>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <span style="float: right;">
                                                        <button type="button" class="btn btn-primary"><i
                                                                class="fa-solid fa-database"></i></button>
                                                    </span>
                                                </td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                    <button type="button" id="dtnSave" class="btn btn-primary" style="float: right;"><i
                                            class="fa-solid fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<script type="text/javascript">
					document.getElementById("dtnSave").onclick = function() {
						document.getElementById("form").submit();
					}
				</script>
                </form>
            </div>
            
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <!-- <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
            </div>
        </div> -->
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

<div th:replace="~{xdm/include/footer :: footer}"></div>
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/xdm/template/admin_ui/vendor/global/global.min.js"></script>
    <script src="/xdm/template/admin_ui/js/quixnav-init.js"></script>
    <script src="/xdm/template/admin_ui/js/custom.min.js"></script>



    <script src="/xdm/template/admin_ui/vendor/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="/xdm/template/admin_ui/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Form validate init -->
    <script src="/xdm/template/admin_ui/js/plugins-init/jquery.validate-init.js"></script>



    <!-- Form step init -->
    <script src="/xdm/template/admin_ui/js/plugins-init/jquery-steps-init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>