<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>


                <style>
                    /* 글자색을 검정으로 변경 */
                    .table-responsive-sm th,
                    .table-responsive-sm td {
                        color: black !important;
                    }

                    /* 테이블의 모든 선 제거 */
                    .table,
                    .table th,
                    .table td,
                    .table thead th,
                    .table tbody td {
                        border: none !important;
                    }

                    .red {
                        color: red;
                    }

                    .table {
                        width: 100%;
                        table-layout: fixed;
                    }
                </style>


<form name="formList" id="formList" method="post" autocomplete="off">
		<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
		<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
		<input type="hidden" name="ifcgSeq">
		<input type="hidden" name="ifcgDelNy">
        
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Code Group</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">시스템관리</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">코드그룹관리</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div th:replace="~{xdm/include/test:: test}"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <table style="width: 100%; table-layout: fixed;">
                                    <thead>
                                        <tr>
                                        
                                            <td class="p-2">
                                                <select id="shDelNy" name="shDelNy" class="form-select form-select-sm">
													<option value="" th:selected="${vo.shDelNy == null}">삭제여부</option>
													<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
													<option value="0" th:selected="${vo.shDelNy == 0}">N</option>            
												</select>
                                            </td>
                                            <td class="p-2">
                                                <select name="shUseNy" id="shUseNy" class="form-select form-select-sm">
													<option value="" th:selected="${vo.shUseNy == null}">사용여부</option>
													<option value="1" th:selected="${vo.shUseNy == 1}">Y</option>
													<option value="0" th:selected="${vo.shUseNy == 0}">N</option>
												</select>
                                            </td>
                                            <td class="p-2">
                                                <select id="shOptionDate" name="shOptionDate" class="form-select form-select-sm">
													<option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
													<option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
													<option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
												</select>
                                            </td>
                                            <td class="p-2">
												<input 
													type="text" 
													id="shDateStart" 
													name="shDateStart" 
													placeholder="시작일" 
													class="form-control form-control-sm" 
													autocomplete="off">
<!--                                                 <input type="text" id="shDateStart" name="shDateStart" th:value="${#strings.substring(vo.shDateStart, 0, 10)}" placeholder="시작일" class="form-control form-control-sm" autocomplete="off"> -->
                                            </td>
                                            <td class="p-2">
                                            	<input 
	                                            	type="text" 
	                                            	id="shDateEnd" 
	                                            	name="shDateEnd" 
	                                            	placeholder="종료일" 
	                                            	class="form-control form-control-sm" 
	                                            	autocomplete="off">
<!--                                                 <input type="text" id="shDateEnd" name="shDateEnd" th:value="${#strings.substring(vo.shDateEnd, 0, 10)}" placeholder="종료일" class="form-control form-control-sm" autocomplete="off"> -->
                                            </td>
                                            <td class="p-2"></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="p-2">
                                                <select id="shOption" name="shOption" class="form-select form-select-sm">
													<option value="" th:selected="${vo.shOption == null}">검색구분</option>
													<option value="1" th:selected="${vo.shOption == 1}">코드그룹 코드</option>
													<option value="2" th:selected="${vo.shOption == 2}">코드그룹 이름</option>
													<option value="3" th:selected="${vo.shOption == 3}">코드그룹 이름 (영문)</option>
												</select>
                                            </td>
                                            <td class="p-2">
                                                <input type="text" 
		                                               id="shValue" 
		                                               name="shValue" 
		                                               th:value="${vo.shValue}" 
		                                               onkeyup="enterkey()" 
		                                               placeholder="검색어" 
		                                               class="form-control form-control-sm">
												<div class="invalid-feedback" id="shValueFeedback"></div>
                                            </td>
                                            <td class="p-2">
                                                <button type="button" id="btnSearch" class="btn btn-outline-dark btn-sm"><i
                                                        class="fa-solid fa-magnifying-glass"></i></button>
                                                <button type="button" onclick="location.href='/xdm/codegroup/CodeGroupXdmList'" class="btn btn-outline-dark btn-sm"><i
                                                        class="fa-solid fa-rotate-right"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <td style="width: 7%;"></td>
                                                <td style="width: 7%;"></td>
                                                <td style="width: 4%"></td>
                                                <td style="width: 15%"></td>
                                                <td style="width: 15%"></td>
                                                <td style="width: 7%"></td>
                                                <td style="width: 10%"></td>
                                                <td style="width: 7%"></td>
                                                <td style="width: 10%"></td>
                                                <td style="width: 5%"></td>
                                                <td style="width: 10%"></td>
                                                <td style="width: 10%"></td>
                                            </tr>
                                            <tr>
                                                <td>Total: <a th:text=${vo.totalRows}></a></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td colspan="2">
                                                    <select class="form-select form-select-sm" id="changeRowNum" name="changeRowNum">
														<option value="5" th:selected="${vo.rowNumToShow eq 5}">5</option>
														<option value="10" th:selected="${vo.rowNumToShow eq 10}">10</option>
														<option value="30" th:selected="${vo.rowNumToShow eq 30}">30</option>
														<option value="50" th:selected="${vo.rowNumToShow eq 50}">50</option>
														<option value="80" th:selected="${vo.rowNumToShow eq 80}">80</option>
														<option value="100" th:selected="${vo.rowNumToShow eq 100}">100</option>       
													</select>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox-inline">
						                                <input type="checkbox" id="allCheckBox" onclick="allChecked()">
						                            </label>
                                                </td>
                                                <td>
                                                    <b>#</b>
                                                </td>
                                                <td><b>사용</b></td>
                                                <td><b>코드그룹 코드</b></td> <!-- 코드그룹 코드 -->
                                                <td><b>코드그룹 이름</b></td> <!-- 코드그룹 이름 -->
                                                <td><b>삭제</b></td>
                                                <td><b></b></td> <!-- 코드 이름(영문) -->
                                                <td><b></b></td>
                                                <td><b>갯수</b></td> <!-- 갯수 -->
                                                <td><b><!-- 성별 --></b></td> <!-- 순서 -->
                                                <td><b>등록일</b></td> <!-- 등록일 -->
                                                <td><b>수정일</b></td> <!-- 수정일 -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                        	<tr th:if="${#lists.isEmpty(list)}" class="hover-actions-trigger btn-reveal-trigger position-static">
                                        		<td></td>
                                        		<td></td>
                                        		<td></td>
                                        		<td></td>
                                        		<td></td>
                                        		<td colspan="10">
                                        			<p class="fs-0" style="padding-top: 12px;">There are no data!</p>
                                        		</td>
                                        	</tr>
                                            <tr th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
                                                <td>
                                                    <label class="checkbox-inline">
					                                    <input type="checkbox" name="chk" class="chk" th:value="${list.ifcgSeq}" onclick="chkClicked()">
					                                </label>
                                                </td>
                                                <td th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}"></td>
                                                <td th:text="${list.ifcgUseNy}"></td>
                                                <td th:text="${list.ifcgSeq}"></td>
                                                <td class="ifcgName align-middle fw-semi-bold">
                                                	<a href="javascript:void(0);" 
                                                		th:text="${list.ifcgName}" 
                                                		th:attr="onclick=|goForm('${list.ifcgSeq}')|">
                                                	</a>
                                                </td>
                                                <td th:text="${list.ifcgDelNy}"></td>
                                                <td></td>
                                                <td><b></b></td>
                                                <td th:text="${list.xifcdSeqCount}"></td>
                                                <td></td>
                                                <td th:text="${list.ifcgRegDateTime}"></td>
                                                <td th:text="${list.ifcgModDateTime}"></td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>

                                    
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                            <!-- <li class="page-item"><a class="page-link" href="#"><i
                                                        class="fa-solid fa-chevron-left"></i></a></li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                            <li class="page-item"><a class="page-link" href="#"><i
                                                        class="fa-solid fa-chevron-right"></i></a></li> -->
                                                        
                                                        
                                            <li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;">
												<a class="page-link" href="javascript:goList(${vo.startPage - 1})" th:attr="onclick=|goList('${vo.startPage - 1}')|">
													<i class="fa-solid fa-angle-left"></i>
												</a>
											</li>
											<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;">
												<a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"><!-- ${i.index} --></a>
											</li>
											<li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;">
												<a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|">
													<i class="fa-solid fa-angle-right"></i>
												</a>
											</li>
                                        </ul>
                                    </nav>
                                    
                                    <button type="button" class="btn btn-danger"><i class="fa-solid fa-x"></i></button>
                                    <button type="button" id="btnUel" class="btn btn-danger"><i
                                            class="fa-regular fa-trash-can"></i></button>
<!--                                     <button type="button" onclick="location.href='/xdm/codegroup/CodeGroupXdmForm'" -->
<!--                                         class="btn btn-primary" style="float: right;"><i -->
<!--                                             class="fa-solid fa-plus"></i></button> -->
                                            <button type="button" id="btnForm" class="btn btn-primary" style="float: right;"><i
                                            class="fa-solid fa-plus"></i></button>
                                    <button type="button" class="btn btn-success"
                                        style="float: right; margin-right: 4px;"><i
                                            class="fa-regular fa-file-excel"></i></button>
                                    <button type="button" class="btn btn-primary"
                                        style="float: right; margin-right: 4px;"><i class="fa-solid fa-u"></i></button>
                                        
                                        <!-- 삭제 모달 -->
									
									<div class="modal" id="uelModal" tabindex="-1" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">삭제 확인</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<p>삭제하시겠습니까?</p>
												</div>
												<div class="modal-footer">
													<button type="button" id="btnUelSubmit" class="btn btn-danger">삭제</button>
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
												</div>
											</div>
										</div>
									</div>
									
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <!-- main end -->

    <!--**********************************
            Content body end
        ***********************************-->


<div th:replace="~{xdm/include/footer :: footer}"></div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->

	
<script type="text/javascript">

    let goUrlXdmList = "/xdm/codegroup/CodeGroupXdmList";
    let goUrlXdmForm = "/xdm/codegroup/CodeGroupXdmForm";
    let goUrlXdmUele = "/xdm/codeGroup/CodeGroupXdmUele";
    
    let form = document.querySelector("form[name=formList]");
    let seq = document.querySelector("input[name=ifcgSeq]");
    
    let seqInput = document.querySelector("input[name='ifcgSeq']");
    let delNyInput = document.querySelector("input[name='ifcgDelNy']");
    
// 	    삭제 버튼 클릭 이벤트
    document.getElementById("btnUel").onclick = function (uelEvent) {
        uelEvent.preventDefault();  // 기본 동작을 막음 (폼 제출 등을 방지)
        
// 	        체크된 항목이 있는지 확인
        let checkedCheckboxes = document.querySelectorAll("input[name='chk']:checked");
        if (checkedCheckboxes.length > 0) {
            let alertModal = new bootstrap.Modal(document.getElementById("uelModal"));
            alertModal.show();  // 삭제 확인 모달을 띄움
        } else {
            alert("삭제할 항목을 선택해주세요.");
        }
    }
    
// 	    삭제 모달에서 삭제 버튼 클릭 시
    document.getElementById("btnUelSubmit").onclick = function () {
        let seqValues = [];
        let delNyValues = [];

// 	        선택된 체크박스에서 ifcgSeq 값과 ifcgDelNy 값을 추출
        document.querySelectorAll("input[name='chk']:checked").forEach(function (checkbox) {
            seqValues.push(checkbox.value);  // 체크된 체크박스의 value 값 (ifcgSeq)
            delNyValues.push("1");  // ifcgDelNy 값 (삭제 표시)
        });

        if (seqValues.length > 0) {
// 	            ifcgSeq 값을 서버에 보내기 위해 연결
            document.querySelector("input[name='ifcgSeq']").value = seqValues.join(",");
            document.querySelector("input[name='ifcgDelNy']").value = delNyValues.join(","); // ifcgDelNy를 업데이트

// 	            폼을 제출하여 삭제 요청
            form.action = goUrlXdmUele;
            form.submit();
        }
    }
    
    
    goList = function (thisPage) {
        document.querySelector("input[name=thisPage]").value = thisPage;
        form.action = goUrlXdmList;
        form.submit();
    }
    
    document.getElementById("btnSearch").onclick = function () {
        form.action = goUrlXdmList;
        form.submit();
    };
    
    document.getElementById("changeRowNum").onchange = function () {
        document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
        form.action = goUrlXdmList;
        form.submit();
    }
    
    document.getElementById("btnForm").onclick = function () {
        goForm(0);
    }


    goForm = function (keyValue) {
        seq.value = keyValue;
        form.action = goUrlXdmForm;
        form.submit();
    }
    
    
// 	    체크박스
    
    
    // 체크박스 클릭 시 seq 및 delNy 업데이트
    function updateSeqValues() {
        let seqValues = [];
        let delNyValues = [];
        document.querySelectorAll("input[name='chk']:checked").forEach(function (checkbox) {
            seqValues.push(checkbox.value);
            delNyValues.push("1");  // 선택된 항목의 ifcgDelNy 값을 "1"로 설정
        });


        if (seqValues.length > 0) {
            seqInput.value = seqValues.join(",");
            delNyInput.value = delNyValues.join(",");  // ifcgDelNy 값을 업데이트
        } else {
            seqInput.value = "";
            delNyInput.value = "";
        }
    }

    // 체크박스 클릭 시 seq 및 delNy 업데이트
    document.querySelectorAll("input[name='chk']").forEach(function (checkbox) {
        checkbox.addEventListener("click", function () {
            updateSeqValues();
            updateAllCheckboxState();  // 개별 체크박스 클릭 시 전체 선택 체크박스 상태 업데이트
        });
    });

    // 체크박스 전체 선택 클릭 이벤트
    function allChecked(target) {
        const checkbox = document.getElementById('allCheckBox');
        const is_checked = checkbox.checked;

        if (is_checked) {
            chkAllChecked();
        } else {
            chkAllUnChecked();
        }

        updateSeqValues();  // 전체 선택 후에도 ifcgSeq 및 ifcgDelNy 값을 업데이트
    }

    // 체크박스 전체 체크
    function chkAllChecked() {
        document.querySelectorAll(".chk").forEach(function (v) {
            v.checked = true;
        });
    }

    // 체크박스 전체 체크 해제
    function chkAllUnChecked() {
        document.querySelectorAll(".chk").forEach(function (v) {
            v.checked = false;
        });
    }

    // 전체 선택 체크박스 상태 업데이트
    function updateAllCheckboxState() {
        const allCheckbox = document.getElementById('allCheckBox');
        const checkboxes = document.querySelectorAll("input[name='chk']");
        const checkedCheckboxes = document.querySelectorAll("input[name='chk']:checked");
        
        allCheckbox.checked = checkboxes.length > 0 && checkboxes.length === checkedCheckboxes.length;
    }
    
//     jQuery('#datetimepicker').datetimepicker();
jQuery.datetimepicker.setLocale('ko');

jQuery('#shDateStart').datetimepicker({
 i18n:{
  de:{
   months:[
    'Januar','Februar','März','April',
    'Mai','Juni','Juli','August',
    'September','Oktober','November','Dezember',
   ],
   dayOfWeek:[
    "So.", "Mo", "Di", "Mi",
    "Do", "Fr", "Sa.",
   ]
  }
 },
 datepicker:true,
 timepicker:false,
 format:'Y-m-d'
});
    

jQuery('#shDateEnd').datetimepicker({
 i18n:{
  de:{
   months:[
    'Januar','Februar','März','April',
    'Mai','Juni','Juli','August',
    'September','Oktober','November','Dezember',
   ],
   dayOfWeek:[
    "So.", "Mo", "Di", "Mi",
    "Do", "Fr", "Sa.",
   ]
  }
 },
 datepicker:true,
 timepicker:false,
 format:'Y-m-d'
});
    

</script>
	

</html>