<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{usr/include/head :: head}"></div>

<script src="/user/template/user_ui/assets/js/vendors/validation.js"></script>
<script src="https://js.tosspayments.com/v2/standard"></script>

	<main>
		<!-- section-->
		<div class="mt-4">
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- col -->
					<div class="col-12">
						<!-- breadcrumb -->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a href="/usr/index/Index">홈</a></li>
								<li class="breadcrumb-item"><a href="/usr/product/ProductUsrList">밀키트</a></li>
								<li class="breadcrumb-item active" aria-current="page">결제하기</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- section -->
		<section class="mb-lg-14 mb-8 mt-8">
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- col -->
					<div class="col-12">
						<div>
							<div class="mb-8">
								<!-- text -->
								<h1 class="fw-bold mb-0">결제하기</h1>
							</div>
						</div>
					</div>
				</div>
				<div>
					<!-- row -->
					<div class="row">
						<div class="col-xl-7 col-lg-6 col-md-12">
							<!-- accordion -->
							<div class="accordion accordion-flush" id="accordionFlushExample">
								<!-- accordion item -->
								<div class="accordion-item py-4">
									<div class="d-flex justify-content-between align-items-center">
										<!-- heading one -->
										<a href="#" class="fs-5 text-inherit collapsed h4" data-bs-toggle="collapse"
											data-bs-target="#flush-collapseOne" aria-expanded="true"
											aria-controls="flush-collapseOne">
											<i class="feather-icon icon-map-pin me-2 text-muted"></i>
											배송지 주소 추가
										</a>
										<!-- btn -->
<!-- 										<a href="#" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" -->
<!-- 											data-bs-target="#addAddressModal">새로운 주소 추가</a> -->
										<!-- collapse -->
									</div>
									<div id="flush-collapseOne" class="accordion-collapse collapse show"
										data-bs-parent="#accordionFlushExample">
										<div class="mt-5">
											<div class="row">
												<div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-4">
													<!-- form -->
													<div class="card card-body p-6">
														<div class="form-check mb-4">
															<input class="form-check-input" type="radio"
																name="flexRadioDefault" id="homeRadio" checked />
															<label class="form-check-label text-dark"
																for="homeRadio" th:text="${user.name} + '님의 주소'">우리집</label>
														</div>
														<!-- address -->
														<address>
															<a>이름 : </a><a th:text="${user.name}">김OO</a>
															<br />
<!-- 															주소 -->
															<a th:text="${user.roadNameAddress} + ' '"></a><a th:text="${user.detailedAddress}"></a>
															<br />
<!-- 															상세주소 -->
															<a th:text="'(' + ${user.zipCode} + ')'"></a>
															<br />
															<abbr title="Phone" th:text="'휴대전화번호 : ' + ${user.phoneNumber}">전화번호 : 010-0000-1111</abbr>
														</address>
														<span class="text-danger">기본 주소</span>
													</div>
												</div>
												<div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-4">
													<!-- input -->
													<div class="card card-body p-6">
														<div class="form-check mb-4">
															<input class="form-check-input" type="radio"
																name="flexRadioDefault" id="officeRadio" />
															<label class="form-check-label text-dark"
																for="officeRadio">회사</label>
														</div>
														<address>
															<strong>OOOO</strong>
															<br />
															서울특별시 도봉구 OO동 OO길 3
															<br />
															OO동 OO호
															<br />

															<abbr title="Phone">P: 02-776-1106</abbr>
														</address>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- accordion item -->
								<div class="accordion-item py-4">
									<a href="#" class="text-inherit h5" data-bs-toggle="collapse"
										data-bs-target="#flush-collapseThree" aria-expanded="false"
										aria-controls="flush-collapseThree">
										<i class="feather-icon icon-shopping-bag me-2 text-muted"></i>
										배송 요청
										<!-- collapse -->
									</a>
									<div id="flush-collapseThree" class="accordion-collapse collapse"
										data-bs-parent="#accordionFlushExample">
										<div class="mt-5">
											<label for="DeliveryInstructions" class="form-label sr-only">배송 요청</label>
											<textarea class="form-control" id="DeliveryInstructions" rows="3"
												placeholder="배송요청을 작성해주세요"></textarea>
											<p class="form-text">주문 및 배송 방법에 대한 지침을 추가하세요.</p>
											<div class="mt-5 d-flex justify-content-end">
												<a href="#" class="btn btn-outline-gray-400 text-muted"
													data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
													aria-expanded="false" aria-controls="flush-collapseTwo">
													이전
												</a>
												<a href="#" class="btn btn-primary ms-2" data-bs-toggle="collapse"
													data-bs-target="#flush-collapseFour" aria-expanded="false"
													aria-controls="flush-collapseFour">다음</a>
											</div>
										</div>
									</div>
								</div>
								<!-- accordion item -->
								<div class="accordion-item py-4">
									<a href="#" class="text-inherit h5" data-bs-toggle="collapse"
										data-bs-target="#flush-collapseFour" aria-expanded="false"
										aria-controls="flush-collapseFour">
										<i class="feather-icon icon-credit-card me-2 text-muted"></i>
										결제 방법
										<!-- collapse -->
									</a>
									<div id="flush-collapseFour" class="accordion-collapse collapse"
										data-bs-parent="#accordionFlushExample">
										<div class="mt-5">
											<div>
												<div class="card card-bordered shadow-none mb-2">
													<!-- card body -->
  <div class="card-body p-6">
    <div class="d-flex">
      <div class="form-check">
        <!-- radio -->
        <input class="form-check-input" type="radio" name="paymentMethod" id="tosspay" />
        <label class="form-check-label ms-2" for="tosspay">토스페이</label>
      </div>
      <div class="ms-3">
        <h5 class="mb-1 h6">토스페이로 결제</h5>
        <p class="mb-0 small">안전하게 구매완료하기 위해 Toss Payments로 이동합니다.</p>
      </div>
    </div>
  </div>
												</div>
												<!-- card -->

												<!-- Button -->
												<div class="mt-5 d-flex justify-content-end">
													<a href="#" class="btn btn-outline-gray-400 text-muted"
														data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
														aria-expanded="false" aria-controls="flush-collapseThree">
														이전
													</a>
													<button type="button" class="btn btn-primary ms-2" id="orderButton">주문하기</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12 offset-xl-1 col-xl-4 col-lg-6">
							<div class="mt-4 mt-lg-0">
								<div class="card shadow-sm">
									<h5 class="px-6 py-4 bg-transparent mb-0">주문 정보</h5>
									<ul class="list-group list-group-flush">
										<!-- list group item -->
										<li class="list-group-item px-4 py-3">
											<div class="row align-items-center">
												<div class="col-2 col-md-2">
													<img th:src="@{${productImage.path}}"
														alt="Ecommerce" class="img-fluid" />
												</div>
												<div class="col-5 col-md-5">
													<span>
													    <small class="text-muted"
													           th:each="codeList : ${@codeService.selectListCachedCode(3)}"
													           th:if="${#strings.equals(codeList.ifcdSeq, product.brandName)}"
													           th:text="${codeList.ifcdName}">브랜드 이름</small>
													</span>
													<h6 id="mealKitName" class="mb-0" th:text="${product.mealKitName}">계란볶음밥</h6>
												</div>
												<div class="col-2 col-md-2 text-center text-muted">
													<span th:text="${quantity} + '개'">1</span>
												</div>
												<div class="col-3 text-lg-end text-start text-md-end col-md-3">
													<span class="fw-bold" th:text="${#numbers.formatInteger({product.price}, 0, 'COMMA')} + '원'">3,500￦</span>
<!-- 													<div class="text-decoration-line-through text-muted small">4,000￦ -->
<!-- 													</div> -->
												</div>
											</div>
										</li>

										<!-- list group item -->
										<li class="list-group-item px-4 py-3">
											<div class="d-flex align-items-center justify-content-between mb-2">
												<div>총 가격</div>
												<div class="fw-bold" th:text="${#numbers.formatInteger(totalPrice, 3, 'COMMA')} + '원'">3,500￦</div>
											</div>
<!-- 											<div class="d-flex align-items-center justify-content-between mb-2"> -->
<!-- 												<div> -->
<!-- 													할인 -->
<!-- 													<i class="feather-icon icon-info text-muted" -->
<!-- 														data-bs-toggle="tooltip" title="Default tooltip"></i> -->
<!-- 												</div> -->
<!-- 												<div class="fw-bold">500￦</div> -->
<!-- 											</div> -->
											<div class="d-flex align-items-center justify-content-between mb-2">
												<div>배달비</div>
												<div class="fw-bold">0원</div>
											</div>
										</li>
										<!-- list group item -->
										<li class="list-group-item px-4 py-3">
											<div class="d-flex align-items-center justify-content-between fw-bold">
												<div>총 가격</div>
												<div id="price" th:text="${#numbers.formatInteger(totalPrice, 3, 'COMMA')} + '원'">3,500￦</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	
<script>
  // 주문하기 버튼 클릭 시
  document.getElementById("orderButton").addEventListener("click", function () {
    const tosspayRadio = document.getElementById("tosspay");

    if (tosspayRadio.checked) {
      requestPayment();
    } else {
      alert("결제 수단을 선택해주세요.");
    }
  });
</script>

<script th:inline="javascript">
	const totalPrice = /*[[${totalPrice}]]*/ 0;
</script>

	
      <script>
      
      /*<![CDATA[*/
//       const totalPrice = [[${totalPrice}]];
      const rawPhone = /*[[${sessPhoneUsr != null}]]*/ false ? '[[${sessPhoneUsr}]]' : '';
      console.log("원본 폰번호:", rawPhone);

      const customerMobilePhone = rawPhone.replace(/[^0-9]/g, '');
      console.log("특수문자 제거 후:", customerMobilePhone);
      console.log("최종 결제에 넘길 전화번호:", customerMobilePhone);
      /*]]>*/
      
      const productType = "mealKit";  // 실제로 결제하는 상품 타입으로 바꿔주세요
      const productId = "12";           // 실제 상품 ID 값으로 바꿔주세요
      
      // ------  SDK 초기화 ------
      // @docs https://docs.tosspayments.com/sdk/v2/js#토스페이먼츠-초기화
      const clientKey = "test_ck_nRQoOaPz8Lxz2KndYGEe8y47BMw6";
      const customerKey = "haiwcxeVmfIN3FzlmAmV7";
      const tossPayments = TossPayments(clientKey);
      // 회원 결제
      // @docs https://docs.tosspayments.com/sdk/v2/js#tosspaymentspayment
      const payment = tossPayments.payment({ customerKey });
      // 비회원 결제
      // const payment = tossPayments.payment({customerKey: TossPayments.ANONYMOUS})

      // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
      // @docs https://docs.tosspayments.com/sdk/v2/js#paymentrequestpayment
      async function requestPayment() {
        // 결제를 요청하기 전에 orderId, amount를 서버에 저장하세요.
        // 결제 과정에서 악의적으로 결제 금액이 바뀌는 것을 확인하는 용도입니다.
        await payment.requestPayment({
          method: "CARD", // 카드 결제
          amount: {
            currency: "KRW",
            value: totalPrice,
          },
          orderId: "mealKit-12-" + new Date().getTime(), // 예시: mealKit-12-시간값
          orderName: document.getElementById("mealKitName").textContent,
          successUrl: window.location.origin + "/usr/payment/PaymentUsrSuccess", // 결제 요청이 성공하면 리다이렉트되는 URL,
          failUrl: window.location.origin + "/usr/payment/PaymentUsrFail", // 결제 요청이 실패하면 리다이렉트되는 URL,
          customerEmail: "customer123@gmail.com",
          customerName: "김토스",
          customerMobilePhone: "01012341234",
          // 카드 결제에 필요한 정보
          card: {
            useEscrow: false,
            flowMode: "DEFAULT", // 통합결제창 여는 옵션
            useCardPoint: false,
            useAppCardOnly: false,
          },
        });
      }
    </script>

	<!-- Footer -->
	<!-- footer -->
	
	<div th:replace="~{usr/include/footer :: footer}"></div>

</html>